<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="icon" type="image/png" href="../static/lg.png" sizes="96x96">

    <title>Hello, world!</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div class="container">
      <div class="mt-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if current_page == 1 %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="../pages/index{{current_page - 1}}.html">Previous</a></li>
            {% endif %}

            {%for page_number in range(1, pages + 1)%}
              <li class="page-item"><a class="page-link" href="../pages/index{{page_number}}.html">{{page_number}}</a></li>
            {% endfor %}
            
            {% if current_page == pages %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="../pages/index{{current_page + 1}}.html">Next</a></li>
            {% endif %}

          </ul>
        </nav>
      </div>
      {% for row_books in books %}
        <div class="row">
          {% for book in row_books %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                  <div class="row no-gutters">
                  <div class="col-md-4">
                      <img src=../{{book.image_path}} class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                      <h5 class="card-title">{{book.book_name}}</h5>
                      <p class="card-text">{{book.author}}.</p>
                      
                      <p class="card-text">
                        {%for book_genre in book.book_genres%}
                          <span class="badge badge-light">{{book_genre}}</span>
                        {% endfor %}
                      </p>
                      
                      <a href="../{{book.book_path}}.txt" target="_blank">Читать</a>
                      </div>
                  </div>
                  </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <script src="../static/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>